html, body {
     display: block;
     margin: 0;
     background-size: cover;
     background-color: white;
     background-repeat: no-repeat;
     padding: 0;
     color: #575e75;
     font-family:  pixelfont;
}

@font-face {
  font-family: pixelfont;
  src: url(slkscrb.ttf) format('truetype');
}

@font-face {
    font-family: mario64;
    src: url(Mario64.ttf) format('truetype');
}
 #header {
     position: relative;
     top: 0;
     left: 0;
     background-color: #2a2a2a;
     width: 100%;
     height: 55px;
     box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
     z-index : 1;
}
}



ul {
    list-style-type: none;
}




/*header*/

#header a{
     color: inherit;
     text-decoration: inherit;
     display: inline-block;
     position: relative;
  
     padding: 32px;
     margin: -32px;
}

 .VGH {
     position: relative;
     top: 10px;
     left: 450px;
     color: #4d97ff;
}
 .VGH#hover {
     position: relative;
}
 #header .VGH img:hover {
     transform: scale(1.1);
}
 #header li{
     color: white;
     font-size: 13.6px;
     font-weight: bold;
     padding: 19px;
     position: relative;
     display: inline-block;
     left: 750px;


}


 #header li:hover{
     background-color: #4280d7;
}






* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   outline: none;
}





.container {
   width: 80%;
   padding: 50px 0;
   margin: 100px auto;
   position: relative;
   overflow: hidden;
}

.container:before {
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;
   z-index: 1
}

.timeline-block {
   width: -webkit-calc(50% + 8px);
   width: -moz-calc(50% + 8px);
   width: calc(50% + 8px);
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;
}

.timeline-block-right {
   float: right;
}

.timeline-block-left {
   float: left;
   direction: rtl
}

.marker {
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #4FC1E9;
   margin-top: 10px;
   z-index: 9999
}

.timeline-content {
   width: 95%;
   padding: 0 15px;
   color: #666
}

.timeline-content h3 {
   margin-top: 5px;
   margin-bottom: 5px;
   font-size: 25px;
   font-weight: 500
}

.timeline-content span {
   font-size: 15px;
   color: #a4a4a4;
}

.timeline-content p {
   font-size: 14px;
   line-height: 1.5em;
   word-spacing: 1px;
   color: #888;
}


@media screen and (max-width: 768px) {
   .container:before {
      left: 8px;
      width: 2px;
   }
   .timeline-block {
      width: 100%;
      margin-bottom: 30px;
   }
   .timeline-block-right {
      float: none;
   }

   .timeline-block-left {
      float: none;
      direction: ltr;
   }
}
h1{
    text-align: center;
    font-size: 90px;
    color: mediumpurple;
    text-shadow: 5px 5px lightgray;
    position: relative;
    z-index: 5;
    margin-bottom: 100px;
}