/*Jason Villablanca*/
/*VGH style.css*/
/*January 26, 2021*/
/*TEJ20*/
html, body {
     display: block;
     margin: 0;
     background-image: url(1-1.png);
     background-size: cover;
     background-color: white;
     background-repeat: no-repeat;
     padding: 0;
     color: #575e75;
     font-family:  pixelfont;


}

@font-face {
  font-family: pixelfont;
  src: url(slkscrb.ttf) format('truetype');
}

@font-face {
    font-family: mario64;
    src: url(Mario64.ttf) format('truetype');
}
 #header {
     position: relative;
     top: 0;
     left: 0;
     background-color: #2a2a2a;
     width: 100%;
     height: 55px;
     box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
     z-index : 15;
}




ul {
    list-style-type: none;
}




/*header*/

#header a{
     color: inherit;
     text-decoration: inherit;
     display: inline-block;
     position: relative;
  
     padding: 32px;
     margin: -32px;
}

 .VGH {
     position: relative;
     top: 10px;
     left: 450px;
     color: #4d97ff;
}
 .VGH#hover {
     position: relative;
}
 #header .VGH img:hover {
     transform: scale(1.1);
}
 #header li{
     color: white;
     font-size: 13.6px;
     font-weight: bold;
     padding: 19px;
     position: relative;
     display: inline-block;
     left: 750px;


}


 #header li:hover{
     background-color: #4280d7;
}


.Banner {
    text-align: center;
  margin-top: 55px;
  height: 384px;
  background-color: sandybrown;
  background-size: 624px 325px;
  background-repeat: no-repeat;
  background-position: right;

}

.Banner h1{
    margin:  80px;
    text-align: center;
    color: White;
    
}

.Banner h2 {
    color: black;
}





 .main h1{
    text-align: center;
    font-size: 100px;
    color: White;
    text-shadow: 5px 5px black;
}

/*Fact boxes*/

.Facts {
    margin: 80px;
    text-align: center;
}

.Fact1{
    color: white;
    background: sandybrown;
    border: 1px solid sandybrown;
}

.Fact2{
    color: white;
    background: sandybrown;
    border: 1px solid sandybrown;
}

.Fact3{
    color: white;
    background: sandybrown;
    border: 1px solid sandybrown;
}

.Fact4{
    color: white;
    background: sandybrown;
    border: 1px solid sandybrown;
}

.Fact5{
    color: white;
    background: sandybrown;
    border: 1px solid sandybrown;
}

.Fact6{
    color: white;
    background: sandybrown;
    border: 1px solid sandybrown;
}

.Fact7{
    color: white;
    background: sandybrown;
    border: 1px solid sandybrown;
}

.Fact8{
    color: white;
    background: sandybrown;
    border: 1px solid sandybrown;
}